<h2>Write a New Blog</h2>
<form action="" method="post" (ngSubmit)="onSubmit()">
  <input
    type="text"
    name="title"
    placeholder="Title"
    pInputText
    [(ngModel)]="title"
  />

  <textarea
    rows="5"
    cols="30"
    pTextarea
    [(ngModel)]="description"
    placeholder="Post Description"
    name="description"
  ></textarea>

  <editor
    [init]="init"
    [(ngModel)]="content"
    name="content"
    style="max-width: 85%"
  />

  <p-toast />
  <button type="submit">Publish</button>
</form>
