li {
  list-style-type: none;
}

:host {
  box-sizing: border-box;
}

::ng-deep .p-panel {
  margin-bottom: 2rem;
  height: 125px;
  overflow-y: hidden;
}

::ng-deep .p-panel-content p {
  width: 20%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
  color: inherit;
}
