li {
  list-style-type: none;
}

:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

::ng-deep p-panel {
  margin-bottom: 2rem;
  overflow-y: hidden;
  display: block;
}

::ng-deep .p-panel-content p {
  width: 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0px;
  margin: 0px;
  width: 80%;
}
