<h2>All Posts</h2>

<ul>
  @for (post of posts; track post.id) {
  <li>
    <p-panel styleClass="panel" [toggleable]="true" collapsed="true">
      <ng-template #header>
        <div class="header-items-container">
          <a routerLink="post/{{ post.id }}"
            ><span class="title">{{ post.title }}</span></a
          >
        </div>
      </ng-template>
      <ng-template #footer>
        <div class="footer-items-container">
          <span
            id="author-name"
            >{{`${post.author.firstname} ${post.author.lastname}`}}</span
          >
          <div class="last-updated">
            <span class="last-updated-text">Last Updated: </span>
            <span>{{ post.updatedAt | date }}</span>
          </div>
        </div>
      </ng-template>
      <p class="m-0">
        {{ post.description }}
      </p>
    </p-panel>
  </li>
  } @empty {
  <p>No Posts So Far</p>
  }
</ul>
